
# Problem Statement
 Making a 3 layer Neural Network for Digit Classification. Implimentation only using Numpy

## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing testing and Training Data

In [5]:
train_data = pd.read_csv('/Users/harshakhiyani/My_Stuff/CODE/GITHUB/Deep-Learning-/Simple Nerual Network from Numpy/Dataset and Jupyter Notebook/Dataset/mnist_train copy.csv')
test_data = pd.read_csv('/Users/harshakhiyani/My_Stuff/CODE/GITHUB/Deep-Learning-/Simple Nerual Network from Numpy/Dataset and Jupyter Notebook/Dataset/mnist_test.csv')

## Dataset Analysis
### Dataset shape

In [6]:
train_data.shape

(60000, 785)

In [7]:
train_data

,label,0,1,2,3,4,5,6,7,8,...,774,775,776,777,778,779,780,781,782,783
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###  Inputs should be in columns not rows

In [8]:
train_data = train_data.T
test_data  = test_data.T

In [9]:
print(train_data.shape,test_data.shape)

(785, 60000) (785, 10000)

In [10]:
train_data = np.array(train_data)
test_data = np.array(test_data)

## Training and Validation set Devision

In [11]:
m,n = train_data.shape
dev_set = train_data[0:,0:1000]
Y_dev = dev_set[0,0:1000]
X_dev = dev_set[1:,0:1000]
Y_train = train_data[0,1000:n]
X_train = train_data[1:,1000:n]

In [12]:
X_train.shape

(784, 59000)

# Neural Network

# Intitalizing Weights

In [13]:
def initialize_parameters(input_units,hidden_units,output_units):
    W1 = np.random.randn(hidden_units,input_units) * 0.01
    b1 = np.zeros((hidden_units,1))
    W2 = np.random.randn(output_units,hidden_units)* 0.01
    b2 = np.zeros((output_units,1))

    return W1,b1,W2,b2

In [14]:
W1,b1,W2,b2 = initialize_parameters(784,10,10)
print(W1.shape,b1.shape,W2.shape,b2.shape)

(10, 784) (10, 1) (10, 10) (10, 1)

## Foward Propagation

In [15]:
def ReLU(Z1):
    return np.maximum(0,Z1)
def SoftMax(Z1):
    return np.exp(Z1)/ np.sum(np.exp(Z1))
def foward_Propagation(X_train,W1,W2,b1,b2):
    A0 = X_train
    Z1 = np.dot(W1,A0) + b1
    A1 = ReLU(Z1)
    Z2 = np.dot(W2,A1) + b2
    A2 = SoftMax(Z2)
    return Z1,A1,Z2,A2

In [16]:
Z1,A1,Z2,A2 = foward_Propagation(X_train,W1,W2,b1,b2)

 # One hot encoding

In [41]:
def one_hot_encode(num_classes,Y):
    Encoded_Y = np.eye(num_classes)[Y]
    return Encoded_Y.T

In [42]:
Encoded_Y = one_hot_encode(10,Y_train)

## Backpropgation

In [47]:
def dx_ReLU(Z):
    return Z > 0
def back_propagation(A0,Encoded_Y,Z1,A1,Z2,A2):
    m = A0.shape[0]
    dZ2 = A2-Encoded_Y
    dW2 = 1/m*np.dot(dZ2,A1.T)
    db2 = 1/m*np.sum(dZ2,axis =1,keepdims=True)
    dZ1 = np.dot(W2.T,dZ2) * dx_ReLU(Z1)
    dW1 = 1/m * np.dot(dZ1,A0)
    db1 = 1/m*np.sum(dZ1,axis =1,keepdims=True)
    return dW1,db1,dW2,db2

In [51]:
A0 = X_train

In [53]:
A0.shape[1]

59000

# Updating Weights